@charset "utf-8";

@font-face {
  font-family:'Android';
  src: url('../font/idroid.otf') format(opentype);
  font-weight: normal;
  font-style:normal ;
} 

@font-face {
  font-family:Bebas Neue;
  src: url("../font/fontes/BebasNeue-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style:normal ;
}

:root{
  --cor0:#c5ebd6;
  --cor1:#83e1ad;
  --cor2:#3ddc84;
  --cor3:#2fa866;
  --cor4:#1a5c37;
  --cor5:#063d1e;
  --fonte-padrao:Arial,verdana,Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue',cursive ;
  --fonte-android:'Android';
}
*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #c5ebd6 ;
  font-family: var(--fonte-padrao);
}

header{
  background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
  padding: 2%;
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}
header > h1{
 color: white;
 font-family: var(--fonte-destaque);
 font-size: 3em;
 margin-bottom: 20px;
 text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.249);

}
header >p{
  color: white;
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 0 10px;
  margin: auto;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.249);
}
nav{
 background-color: var(--cor5);
 padding: 10px;
 box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.344);
}
nav>a{
 text-decoration: none;
 padding: 10px;
 color:var(--cor1);
 font-weight: bold;
 border-radius: 5px;
 transition-duration: 1s;
}
nav >a:hover{
  background-color: var(--cor3);
  color: var(--cor5);
}
main{
  background-color: white;
  margin: auto;
  margin-bottom: 30px;
  max-width: 1000px;
  min-width: 300px;
  padding: 20px;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.437);
  
}

main h1{
   color: var(--cor5);
   font-family: var(--fonte-android);
   
}

main h2{
  font-family: var(--fonte-android);
}

main img{
  width: 100%;
}
main img.pequena{
  max-width: 350px;
  display: block;
  margin: auto;
}
main p{
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 2em;
}
main h2{
  background-image: linear-gradient(to right,var(--cor1),transparent);
  color: var(--cor4);
  font: 1.3em ;
  text-indent: 8px;
}
main a{
  background-color: var(--cor1);
  text-decoration: none;
  color: var(--cor5);
  font-weight: bold;
  padding: 2px 6px;
}
main a:hover{
  text-decoration: underline;
  color: var(--cor3);
}
a.externo::after{
  content: '\00A0\1F517';
}
main strong{
  color: var(--cor5);
  font-weight: bold;
  padding: 2px 6px;
}
div.video{
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
 padding: 20px;
 padding-bottom: 58%;
 position:relative;
}
div.video>iframe{
   position:absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;

}
aside{
  background-color: var(--cor0);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.262);
}
aside h3 {
  margin: -10px -10px 0px -10px;
  padding: 5px;
  background-color: var(--cor5);
  color: white  ;
  border-radius: 10px 10px 0 0;
}
aside >ul{
   list-style-type:'\2714\00A0';
   list-style-position: inside;
   columns: 2;
}
footer{
  background-color: var(--cor5);
  color: white;
  padding: 5px;
  text-align: center;
}

footer p>a{
   color: white;
   text-decoration: none;
}
footer p>a:hover{
  background-color: var(--cor0);
  text-decoration: underline;
  color: var(--cor3);
  font-weight: bolder;
}